<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force all requests to Laravel public dir inside backend/
    RewriteRule ^$ backend/public/ [L]
    RewriteRule (.*) backend/public/$1 [L]
</IfModule>
